@import url('https://fonts.googleapis.com/css2?family=DotGothic16&family=Fredericka+the+Great&family=Gugi&family=Mogra&display=swap');



/* Enkel CSS-reset */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
   box-sizing: inherit;
}
body, h1, h2, h3, h4, h5, h6, p, ul {
    margin: 0;
padding: 0;
}

/* Layoutens utseende */
body{

}
.kontainer{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
width: 800px;
padding: 20px;
margin: auto;
background-color: #66d77b

}

/* Menyns Utseende */
.kontainer ul{
display: flex;
justify-content: space-between;
}
.kontainer ul li{
list-style-type: none;
}
.kontainer ul a{
text-decoration: none;
background-color: red;
color: #9e9e36;
padding: 10px;
border-radius: 13px;
display: inline-block;
width: 140px;
text-align: center;


}
.kontainer ul a:hover{
    background-color: brown;
}

/* Innehållet */
.kontainer h1{
    font-family: "Mogra", system-ui;
    color: #FC7753;
    font-size: 80px;
}
.kontainer figure{
background-color: rgb(53, 172, 83);
padding: 30px;
}
.kontainer figure img{
width: 100%;
}

.kontainer p{
color: rgb(0, 0, 0);
}




   
  